{% set placeholderText = config("CookieLow.placeholder.text")%}
{% set privacyLink = config("CookieLow.privacyLink.text")%}
{% set color = config("CookieLow.customColor.text")%}


<link rel="stylesheet" type="text/css" href="{{plugin_path("CookieLow")}}/css/style.css">

<div id = "cookie-law" style = "background-color:{{color}};">
<p>{{placeholderText}}
<a href="{{privacyLink}}" rel="nofollow" title="Privacy &amp; Cookies Policy">Datenschutzerklärung</a>
.<a class="close-cookie-banner" href="javascript:void(0);" onclick="removeMe();">
<span>Einverstanden</span></a>
</p>
</div>

<script src="{{plugin_path("CookieLow")}}/js/script.js"></script>